.env
data/raw/
__pycache__/
*.pyc
.venv/
*.egg-info/
.DS_Store
.idea

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Spark
spark/jars/
*.jar
derby.log
metastore_db/

# Airflow
airflow-data/
logs/
